{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load bootstrap3 %}
{% load is_person %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                {{ property }}
                <a class="btn btn-xs btn-warning" href="JavaScript:newPopup('/admin/harvest/property/{{ property.id }}/change/?_popup=1');">
                    <i class="fa fa-pencil"></i> {% trans "Edit" %}
                </a>
            </h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-sm-4">

            <img src="https://docs.gimp.org/en/images/filters/examples/taj_orig.jpg" alt="Sample image" height="150">

        </div>

        <div class="col-sm-4">
                            <div class="table-responsive">
                                <table class='table table-borderless'>
                                    <tbody>
                                        <tr>
                                            <td><strong>{% trans "Compost bin closeby" %} :</strong></td>
                                            <td>{% if property.compost_bin %}
                                                    <i class="fa fa-check" style="color:green"></i>
                                                {% else %}
                                                    <i class="fa fa-times" style="color:red"></i>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><strong>{% trans "Is active" %} :</strong></td>
                                            <td>{% if property.is_active %}
                                                    <i class="fa fa-check" style="color:green"></i>
                                                {% else %}
                                                    <i class="fa fa-times" style="color:red"></i>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><strong>{% trans "Publicly accessible" %} :</strong></td>
                                            <td>{% if property.public_access %}
                                                    <i class="fa fa-check" style="color:green"></i>
                                                {% else %}
                                                    <i class="fa fa-times" style="color:red"></i>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><strong>{% trans "Access to neighbors terrain" %} :</strong></td>
                                            <td>{% if property.neighbor_access %}
                                                    <i class="fa fa-check" style="color:green"></i>
                                                {% else %}
                                                    <i class="fa fa-times" style="color:red"></i>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
        </div>

        <div class="col-sm-4">
            <strong>{% trans "About this property" %} :</strong> {{ property.about }}
            <hr>

            <div class="alert alert-warning">
                <strong>{{ property.avg_nb_required_pickers }}</strong> {% trans " pickers are recommended at this property!" %}
            </div>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                <i class="glyphicon glyphicon-user" style="color:white"></i> <b>{% trans "Owner information" %}</b>
                </div>
                <div class="panel-body">
                    {% with property.owner|is_person as is_person %}
                        {% if is_person == True %}
                            <p class="lead">{{ property.owner.person.name }}</p>
                            {% if property.owner.person.address %}
                                    {% trans "Personal address" %} : {{ property.owner.person.address }}.<br>
                            {% endif %}
                            {% trans "Phone" %} : {{ property.owner.person.phone }}.<br>
                                {% if property.owner.person.language %}
                                    {% trans "Preferred language" %} : <strong>{{ property.owner.person.language }}</strong>.<br>
                                {% endif %}
                                {% if property.owner.person.comments %}
                                    {% trans "Additional comments" %} : <i>{{ property.owner.person.comments }}</i><br>
                                {% endif %}
                        {% elif is_person == False %}
                            <strong>{{ property.owner.organization.name }}</strong><br>
                            <strong>{% trans "Description" %} : </strong>{{ property.owner.organization.description }}<br>
                            <strong>{% trans "Contact person" %} : </strong>{{ property.owner.organization.contact }}<br>
                            <strong>{% trans "Address" %} : </strong>{{ property.owner.organization.address }}<br>
                            <strong>{% trans "Phone" %} : </strong>{{ property.owner.organization.phone }}<br>
                            <strong>{% trans "Language" %} : </strong>{{ property.owner.organization.contact.language|default:"" }}<br>
                            {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                <i class="glyphicon glyphicon-tree-deciduous"></i> <b>{% trans "Trees" %}</b>
                </div>
                <div class="panel-body">
                    {% if property.trees.all %}
                    <ul>
                        {% for tree in property.trees.all %}
                            <li>{{ tree.fruit_name }}</li>
                        {% endfor %}
                    </ul>
                    {% else %}
                        {% trans "No tree in this property." %}
                    {% endif %}
                    <hr>
                    <strong>{% trans "Trees location" %} :</strong> {{ property.trees_location }}
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="glyphicon glyphicon-scissors"></i> &nbsp;<b>{% trans "Equipment" %}</b>
                </div>
                <div class="panel-body">
                    {% if harvest.equipment_reserved.all %}
                    <ul>
                        {% for equipment in property.equipment_at_property.all %}
                            <li>
                                <span class="label label-default" style="margin-right: 5px;">
                                    {{ equipment.type }}
                                </span>
                                {{ equipment.description }}
                            </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                        {% trans "No equipment available at this property." %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>{% trans "History" %}</strong>
                </div>

                <table class="table table-hover table-condensed">
                    {% for line in property_history %}
                    {% if line.get_history_type_display == "Created" %}
                    <tr class="success">
                    {% else %}
                    <tr>
                    {% endif %}
                        <td>
                            Updated by {{ line.history_user }} in {{ line.history_date }}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
