{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load bootstrap3 %}
{% load is_person %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                {% trans "Property detail" %}
                <a class="btn btn-xs btn-warning" href="JavaScript:newPopup('/admin/harvest/property/{{ property.id }}/change/?_popup=1');">
                    <i class="fa fa-pencil"></i> {% trans "Edit" %}
                </a>
            </h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row">
        <div class="col-sm-6">
            <strong>{% trans "Is active" %} :</strong> {{ property.is_active }}<br>
            <strong>{% trans "Owner" %} :</strong> {{ property.owner }}<br>
            <strong>{% trans "Compost bin closeby" %} :</strong> {{ property.compost_bin }}<br>
        </div>
        <div class="col-sm-6">
            <strong>{% trans "Number of required pickers" %} :</strong> {{ property.avg_required_pickers }}<br>
            <strong>{% trans "Publicly accessible" %} :</strong> {{ property.public_access }}<br>
            <strong>{% trans "Access to neighbors terrain" %} :</strong> {{ property.neighbor_access }}<br>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                <b>{% trans "Owner information" %} :</b>
                </div>
                <div class="panel-body">
                    {% with property.owner|is_person as is_person %}
                        {% if is_person == True %}
                            <strong>{% trans "Name" %} : </strong>{{ property.owner.person.name }}<br>
                            <strong>{% trans "Address" %} : </strong>{{ property.owner.person.address }}<br>
                            <strong>{% trans "Phone" %} : </strong>{{ property.owner.person.phone }}<br>
                            <strong>{% trans "Language" %} : </strong>{{ property.owner.person.language|default:"" }}<br>
                            <strong>{% trans "Comments" %} : </strong>{{ property.owner.person.comments }}<br>
                        {% elif is_person == False %}
                            <strong>{% trans "Name" %} : </strong>{{ property.owner.organization.name }}<br>
                            <strong>{% trans "Description" %} : </strong>{{ property.owner.organization.description }}<br>
                            <strong>{% trans "Contact person" %} : </strong>{{ property.owner.organization.contact }}<br>
                            <strong>{% trans "Address" %} : </strong>{{ property.owner.organization.address }}<br>
                            <strong>{% trans "Phone" %} : </strong>{{ property.owner.organization.contact.phone }}<br>
                            <strong>{% trans "Language" %} : </strong>{{ property.owner.organization.contact.language|default:"" }}<br>
                            {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                <b>{% trans "Trees" %} :</b>
                </div>
                <div class="panel-body">
                    {% if harvest.equipment_reserved.all %}
                    <ul>
                        {% for tree in property.trees.all %}
                        <li>{{ tree.fruit_name }}</li>
                        {% endfor %}
                    </ul>
                    {% else %}
                        {% trans "No reserved equipment for the moment" %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b>{% trans "Equipment" %} :</b>
                </div>
                <div class="panel-body">
                    {% if harvest.equipment_reserved.all %}
                    <ul>
                        {% for equipment in property.equipment_at_property.all %}
                            <li>
                                <span class="label label-default" style="margin-right: 5px;">
                                    {{ equipment.type }}
                                </span>
                                {{ equipment.description }}
                            </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                        {% trans "No reserved equipment for the moment" %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {% trans "Historical" %}
                </div>

                <table class="table table-hover table-condensed">
                    {% for line in property_history %}
                    {% if line.get_history_type_display == "Created" %}
                    <tr class="success">
                    {% else %}
                    <tr>
                    {% endif %}
                        <td>
                            <strong>Updated by {{ line.history_user }} in {{ line.history_date }}</strong>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
