{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                {% trans "Organizations" %}
            </h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>


    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="dataTable_wrapper">
                        <table class="table table-striped table-bordered table-hover" id="dataTables-propertylist">
                            <thead>
                                <tr>
                                    <th class="text-center">{% trans "Id" %}</th>
                                    <th>{% trans "Civil name" %}</th>
                                    <th>{% trans "Description" %}</th>
                                    <th>{% trans "Is beneficiary?" %}</th>
                                    <th>{% trans "Contact" %}</th>
                                    <th>{% trans "Address" %}</th>
                                    <th>{% trans "Action" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                               {% for organization in organizations %}
                                <tr class="odd gradeX">
                                    <td class="text-center">
                                            {{ organization.pk }}
                                    </td>
                                    <td>{{ organization.civil_name}}  </td>
                                    <td>{{ organization.description}}  </td>
                                    <td>{{ organization.is_beneficiary }}</td>
                                    <td>{{ organization.contact_person }} <p> {{ organization.phone }}</td>
                                    <td>{{ organization.short_address }}</td>
                                    <td></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-6 -->
    </div>
    <!-- /row -->

{% endblock %}
