{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}


            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{% trans "Harvest detail" %}</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>



                {% for i in harvest_detail %}
                        <div class="col-lg-12">
                            <div class="panel panel-default">
				<div class="panel-heading">
					<h4>{% trans "Harvest" %} #{{i.id}}: {{ i }}</h4>	
				</div>
                                <div class="panel-body">
                                    <p><b>{% trans "Pick leader" %}:</b> {{ i.pick_leader }}</p>
                                    <p><b>{% trans "Trees" %}:</b></p>
					<ul>
				{% for t in i.trees.all %}
					<li>{{ t.fruit_name }}</li>
				{% endfor %}
					</ul>
                                    <p><b>{% trans "Start" %}:</b> {{ i.start_date }}</p>
                                    <p><b>{% trans "End" %}:</b> {{ i.end_date }}</p>
                                    <p><b>{% trans "Property" %}:</b> {{ i.property }}</p>
                                    <p><b>{% trans "Number of required pickers" %}:</b> {{ i.nb_required_pickers }}</p>
                                    <p><b>{% trans "Pickers" %}:</b></p>
					<ul>
				{% for p in i.pickers.all %}
					<li>{{ p.first_name }}</li>
				{% endfor %}
					</ul>
                                    <p><b>{% trans "Reserved equipment" %}:</b></p>
					<ul>
				{% for p in i.equipment_reserved.all %}
					<li>[{{ p.type }}] {{ p.description }}</li>
				{% endfor %}
					</ul>
                                    <p><b>{% trans "Owner wants to be present" %}:</b> {{ i.owner_present }}</p>
                                    <p><b>{% trans "Owner wants to participate" %}:</b> {{ i.owner_help }}</p>
                                    <p><b>{% trans "Owner wants his share of fruits" %}:</b> {{ i.owner_fruit }}</p>
                                    <p><b>{% trans "Comments" %}:</b> {{ i.comments }}</p>
                                    <p><b>{% trans "Publish on calendar" %}:</b> {{ i.publish }}</p>
                                    <p><b>{% trans "Status" %}:</b> {{ i.status }}</p>
                {% endfor %}

                                 {% for i in harvest_history %}
		                     <hr>
                                     Updated by {{ i.history_user }} in {{ i.history_date }} ==>  {{ i.get_history_type_display }} {{ i }}
                                 {% endfor %}
	                         </div>
                            </div>
                        </div>


            <div class="row">
                <div class="col-lg-12">
                </div>
                <!-- /.col-lg-6 -->
            </div>
            <!-- /row -->

{% endblock %}
