{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load nvd3_tags %}
{% load i18n %}

{% block extrahead %}
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'bower_components/nvd3/build/nv.d3.min.css' %}">
        <script src="{% static 'bower_components/d3/d3.min.js' %}" type="text/javascript" charset="utf-8"></script>
        <script src="{% static 'bower_components/nvd3/build/nv.d3.min.js' %}" type="text/javascript" charset="utf-8"></script>
    {% load_chart data2.charttype data2.chartdata data2.chartcontainer data2.extra %}
{% endblock %}
    
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                {% trans "Statistics" %}
            </h1>
            <div class="col-lg-6">
               <div class="panel panel-default">
                   <div class="panel-heading">
                       Total per fruit
                   </div>
                   <!-- /.panel-heading -->
                   <div class="panel-body">
                        <table class="table table-responsive table-condensed">
                <tr>
		    <th>Fruit</th><th>Harvests</th><th>Weight (lb)</th>
		</tr>
                          {% for f in total_fruit %}
                              <tr><td>{{ f.0 }}</td>
                                  <td>{{ f.1 }}</td>
                                  <td>{{ f.2 }}</td>
                              </tr>
                          {% endfor %}
                          </table>
                       </div>
                    </div>
               </div>

            <div class="col-lg-6">
               <div class="panel panel-default">
                   <div class="panel-heading">
                       Total per beneficiary
                   </div>
                   <!-- /.panel-heading -->
                   <div class="panel-body">
                        <table class="table table-responsive table-condensed">
                          <tr>
          		    <th>Beneficiary</th><th>Harvests</th><th>Weight (lb)</th>
              		</tr>
                          {% for b in total_beneficiary %}
                              <tr><td>{{ b.0 }}</td>
                                  <td>{{ b.1 }}</td>
                                  <td>{{ b.2 }}</td>
                              </tr>
                          {% endfor %}
                        </table>
                    </div>
                 </div>
              </div>
    <!-- /.col-lg-12 -->
    </div>
    <div class="col-lg-12">
            <div class="col-lg-6">
               <div class="panel panel-default">
                   <div class="panel-heading">
                       Total per neighbordhood
                   </div>
                   <!-- /.panel-heading -->
                   <div class="panel-body">
                        <table class="table table-responsive table-condensed">
                          <tr>
          		    <th>Neighborhood</th><th>Harvests</th><th>Weight (lb)</th>
              		</tr>
                          {% for n in total_neighborhood %}
                              <tr><td>{{ n.0 }}</td>
                                  <td>{{ n.1 }}</td>
                                  <td>{{ n.2 }}</td>
                              </tr>
                          {% endfor %}
                        </table>
                    </div>
                 </div>
              </div>
            <div class="col-lg-6">
               <div class="panel panel-default">
                   <div class="panel-heading">
                       Total per picker
                   </div>
                   <!-- /.panel-heading -->
                   <div class="panel-body">
                        <table class="table table-responsive table-condensed">
                          <tr>
          		    <th>Picker</th><th>Harvests</th><th>Weight (lb)</th>
              		</tr>
                          {% for p in total_picker %}
                              <tr><td>{{ p.0 }}</td>
                                  <td>{{ p.1 }}</td>
                                  <td>{{ p.2 }}</td>
                              </tr>
                          {% endfor %}
                        </table>
                    </div>
                 </div>
              </div>
    <!--        <div class="col-lg-4">
               <div class="panel panel-default">
                   <div class="panel-heading">
                       Total per season
                   </div>
                   <div class="panel-body">
                        <table class="table table-responsive table-condensed">
                           <tr>
        		   <th>Season</th><th>Harvests</th><th>Weight (lb)</th>
        		   </tr>
                           {% for t in total %}
                           <tr><td>{{ t.0 }}</td>
                             <td>{{ t.1 }}</td>
                             <td>{{ t.2 }}</td>
                           </tr>
                          {% endfor %}
                        </table>
                   </div>
              </div>
          </div>
     </div>
    -->
    {% include_container data2.chartcontainer 400 1050 %}
{% endblock %}
