{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load nvd3_tags %}
{% load i18n %}

{% block extrahead %}
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'bower_components/nvd3/build/nv.d3.min.css' %}">
        <script src="{% static 'bower_components/d3/d3.min.js' %}" type="text/javascript" charset="utf-8"></script>
        <script src="{% static 'bower_components/nvd3/build/nv.d3.min.js' %}" type="text/javascript" charset="utf-8"></script>
    {% load_chart charttype chartdata chartcontainer extra %}
{% endblock %}
    
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                {% trans "Statistics" %}
            </h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    {% include_container chartcontainer %}
{% endblock %}
