{% extends 'base.html' %}
{% load staticfiles %}

{% block extrahead %}
    <!-- FullCalendar CSS -->
    <link href="{% static 'fullcalendar/lib/cupertino/jquery-ui.min.css' %}" rel='stylesheet'/>
    <link href="{% static 'fullcalendar/fullcalendar.css' %}" rel='stylesheet'/>
    <link href="{% static 'fullcalendar/fullcalendar.print.css' %}" rel='stylesheet' media='print'/>
    <link href="{% static 'fullcalendar/bootstrapmodal.css' %}" rel='stylesheet'/>
{% endblock %}


{% block extrascript %}
    <!-- FullCalendar JavaScript -->
    <script src="{% static 'fullcalendar/lib/moment.min.js' %}"></script>
    <script src="{% static 'fullcalendar/lib/jquery.min.js' %}"></script>
    <script src="{% static 'fullcalendar/fullcalendar.min.js' %}"></script>
    <script src="{% static 'fullcalendar/bootstrapmodal.min.js' %}"></script>

    <script>
    $(document).ready(function() {
        $('#bootstrapModalFullCalendar').fullCalendar({
            events: '/harvest/jsoncal/',
            header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,basicWeek,basicDay'
            },
            eventLimit: true,
            eventClick:  function(event, jsEvent, view) {
                window.location = event.url;
            }
        });
    });
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Calendar</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">

                    <div class="row-fluid">
                        <div class="col-lg-12">
                            <div id='bootstrapModalFullCalendar'></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
