{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load bootstrap3 %}
{% load is_person %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                {% trans "Harvest detail" %}
                <a class="btn btn-xs btn-warning" href='{% url "harvest:harvest_update" harvest.id %}'>
                    <i class="fa fa-pencil"></i> {% trans "Edit" %}
                </a>
            </h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row">
        <div class="col-sm-4">
            <strong>{% trans "Start" %} :</strong> {{harvest.start_date}}<br>
            <strong>{% trans "End" %} :</strong> {{harvest.end_date}}<br>
            <strong>{% trans "Status" %} :</strong> {{ harvest.status }}<br>
            <strong>{% trans "Number of required pickers" %} :</strong> {{ harvest.nb_required_pickers }}<br>
            <strong>{% trans "Number of required pickers" %} :</strong> {{ harvest.property.nb_required_pickers }}<br>
        </div>
        <div class="col-sm-4">
           <div class="table-responsive">
               <table class='table table-borderless'>
                   <tbody>
                       <tr>
                           <td><strong>{% trans "Published in the calendar" %}</strong></td>
                           <td>{% if harvest.is_active %}
                                   <i class="fa fa-check" style="color:green"></i>
                               {% else %}
                                   <i class="fa fa-times" style="color:red"></i>
                               {% endif %}
                           </td>
                       </tr>
                       <tr>
                           <td><strong>{% trans "Owner wants to be present" %}</strong></td>
                           <td>{% if harvest.owner_present %}
                                   <i class="fa fa-check" style="color:green"></i>
                               {% else %}
                                   <i class="fa fa-times" style="color:red"></i>
                               {% endif %}
                           </td>
                       </tr>
                       <tr>
                           <td><strong>{% trans "Owner wants to participate" %}</strong></td>
                           <td>{% if harvest.owner_help %}
                                   <i class="fa fa-check" style="color:green"></i>
                               {% else %}
                                   <i class="fa fa-times" style="color:red"></i>
                               {% endif %}
                           </td>
                       </tr>
                       <tr>
                           <td><strong>{% trans "Owner wants his share of fruits" %}</strong></td>
                           <td>{% if harvest.owner_fruit %}
                                   <i class="fa fa-check" style="color:green"></i>
                               {% else %}
                                   <i class="fa fa-times" style="color:red"></i>
                               {% endif %}
                           </td>
                       </tr>
                   </tbody>
               </table>
           </div>
           <!-- /.table-responsive -->
        </div>
        <div class="col-sm-4">
            <p>
                {% trans "Address" %} :
                <a href='{% url "harvest:property_detail" harvest.property.id %}'>
                    {{harvest.property}}
                </a>
            </p>
            <p>
                {% trans "Owner" %} : {{harvest.property.owner}}
            </p>
            {% if harvest.property.owner|is_person %}
            <p>
                {% trans "Phone" %} : {{harvest.property.owner.person.phone}}
            </p>
            {% else %}
            <p>
                {% trans "Contact" %} : {{harvest.property.owner.organization.contact_person}}
            </p>
            <p>
                {% trans "Phone" %} : {{harvest.property.owner.organization.phone}}
            </p>
            {% endif %}
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="glyphicon glyphicon-tree-deciduous"></i> <b>{% trans "Trees" %} :</b>
                </div>
                <div class="panel-body">
                    <ul>
                    {% for tree in harvest.trees.all %}
                        <li>{{ tree.fruit_name }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                <i class="glyphicon glyphicon-user"></i> <b>{% trans "Pickers" %} :</b>
                <span class="pull-right">
                    <a href='{% url "harvest:participation_create" harvest.id %}' class="btn btn-xs btn-success">
                        <i class="fa fa-plus"></i>
                        {% trans "Participate in the pick" %}
                    </a>
                </span>
                </div>
                <div class="panel-body">
                    {% if harvest.pickers.all %}
                    <ul>
                        {% for picker in harvest.pickers.all %}
                            {% if picker == harvest.pick_leader %}
                            <li>
                                <span class="label label-primary" style="margin-right: 5px;">
                                    {% trans "pickleader" %}
                                </span>
                                <b>{{ picker }}</b>
                            </li>
                            {% else %}
                            <li>{{ picker }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    {% else %}
                        {% trans "No one picker for the moment" %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                <i class="glyphicon glyphicon-scissors"></i> <b>{% trans "Reserved equipment" %} :</b>
                </div>
                <div class="panel-body">
                    {% if harvest.equipment_reserved.all %}
                    <ul>
                        {% for equipment in harvest.equipment_reserved.all %}
                            <li>
                                <span class="label label-default" style="margin-right: 5px;">
                                    {{ equipment.type }}
                                </span>
                                {{ equipment.description }}
                            </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                        {% trans "No reserved equipment for the moment" %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {% trans "History" %}
                </div>

                <table class="table table-hover table-condensed">
                    {% for line in harvest_history %}
                    {% if line.get_history_type_display == "Created" %}
                    <tr class="success">
                    {% else %}
                    <tr>
                    {% endif %}
                        <td>
                            <strong>Updated by {{ line.history_user }} in {{ line.history_date }}</strong>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="pull-right">
                        <a data-toggle="modal" data-target="#CommentModal" class="btn btn-xs btn-success">
                            {% trans "Add comment" %}
                        </a>
                    </span>
                    {% trans "Comments" %}
                </div>

                <table class="table table-hover table-condensed">
                    {% for comment in harvest.comment.all %}
                    <tr>
                        <td>
                            <strong>{{comment.author}} on {{comment.created_date}}</strong><br>
                            {{comment.content}}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

    <!-----------
    --- MODAL ---
    ------------>

    <!-- Comment modal -->
    <div class="modal fade" id="CommentModal" tabindex="-1" role="dialog" aria-labelledby="commentLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn btn-xs btn-danger pull-right" data-dismiss="modal">x</button>
                    <h4 class="modal-title" id="commentLabel">{% trans "New comment" %}</h4>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url 'harvest:comment_create' harvest.id %}">
                        {% csrf_token %}
                        {% bootstrap_form form_comment %}
                        {% buttons %}
                            <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
                        {% endbuttons %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
