{% extends "app/base_site.html" %}
{% load staticfiles %}
{% load i18n %}
{% load bootstrap3 %}
{% load is_person %}
{% load order_by %}

{% block title %} Harvest {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <!-- top tiles -->
    <div class="row tile_count">
      <div class="col-md-2 col-sm-4 col-xs-5 tile_stats_count">
             <span class="count_top"><i class="fa fa-calendar-check-o"></i> Status</span>
             {% if harvest.status == "Succeeded" %}
               <div class="count green">{{ harvest.get_status_l10n }}</div>
               <div class="progress progress_sm">
                 <div class="progress-bar progress-bar-success" role="progressbar" data-transitiongoal="100"></div>
               </div>
             {% endif %}
             {% if harvest.status == "Cancelled" %}
               <div class="count red">{{ harvest.get_status_l10n }}</div>
               <div class="progress progress_sm">
                 <div class="progress-bar progress-bar-danger" role="progressbar" data-transitiongoal="100"></div>
               </div>
             {% endif %}
             {% if harvest.status == "Orphan" %}
               <div class="count yellow">{{ harvest.get_status_l10n }}</div>
               <div class="progress progress_sm">
                 <div class="progress-bar progress-bar-warning" role="progressbar" data-transitiongoal="5"></div>
               </div>
             {% endif %}
             {% if harvest.status == "Adopted" %}
               <div class="count yellow">{{ harvest.get_status_l10n }}</div>
               <div class="progress progress_sm">
                 <div class="progress-bar progress-bar-warning" role="progressbar" data-transitiongoal="20"></div>
               </div>
             {% endif %}
             {% if harvest.status == "To-be-confirmed" %}
               <div class="count warning">{% trans "Waiting" %}</div>
               <div class="progress progress_sm">
                 <div class="progress-bar progress-bar-warning" role="progressbar" data-transitiongoal="40"></div>
               </div>
             {% endif %}
             {% if harvest.status == "Date-scheduled" %}
               <div class="count yellow">{{ harvest.get_status_l10n }}</div>
               <div class="progress progress_sm">
                 <div class="progress-bar progress-bar-warning" role="progressbar" data-transitiongoal="60"></div>
               </div>
             {% endif %}
             {% if harvest.status == "Ready" %}
               <div class="count yellow">{{ harvest.get_status_l10n }}</div>
               <div class="progress progress_sm">
                 <div class="progress-bar progress-bar-warning" role="progressbar" data-transitiongoal="80"></div>
               </div>
             {% endif %}
      </div>
      <div class="col-md-2 col-sm-4 col-xs-5 tile_stats_count">
        <span class="count_top"><i class="fa fa-clock-o"></i> Schedule</span>
        <div class="count">{{ harvest.start_date|date:"d M" }}</div>
        <span class="count_bottom"><i>{% trans "from" %} {{ harvest.start_date|date:"H:i" }} {% trans "to" %} {{ harvest.end_date|date:"H:i" }}</i></span>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-5 tile_stats_count">
        <span class="count_top"><i class="fa fa-users"></i> {%trans "Users requests" %}</span>
        <div class="count">{{ requests.count }}</div>
        <span class="count_bottom"><i>{{ harvest.nb_required_pickers }} {% trans "pickers needed in total" %}</i></span>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-5 tile_stats_count">
        <span class="count_top"><i class="fa fa-shopping-basket"></i> Total harvested</span>
        <div class="count">{{ harvest.get_total_distribution }} lbs</div>
        <span class="count_bottom"><i>{% trans "See bellow how they've been shared" %}</i></span>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-5 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Leader</span>
          {% if harvest.pick_leader != None %}
              <div class="count">{{ harvest.pick_leader }}</div>
              <span class="count_bottom"><i>{% trans "Thanks" %}!</i></span>
          {% endif %}
          {% if harvest.pick_leader == None %}        
            <div class="count red">{% trans "No leader" %}</div>
            <span class="count_bottom"><i>{% trans "Click to sign!" %}</i></span>
          {% endif %}
      </div>
    </div>
    <!-- /top tiles -->

    <div class="row">
      <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
              <h3>
                {% for f in harvest.trees.all %}
                  {{ f }},
                {% endfor %}
                {{ harvest.property.short_address }}
          </div>
          <div class="x_content">
             <blockquote>
                <p>{{ harvest.about|safe }}</p>
             {% if harvest.owner_present %}
               <span class="label label-warning"> {% trans "Owner wants to be present!" %} </span><br>
             {% endif %}
             {% if harvest.owner_help %}
               <span class="label label-success"> {% trans "Owner wants to participate!" %} </span><br>
             {% endif %}
             {% if harvest.owner_fruit %}
               <span class="label label-danger"> {% trans "Owner wants their share of fruits!" %} </span>
             {% endif %}
             </blockquote>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="x_panel tile fixed_height_240">
          <div class="x_title">
            <h2>{% trans "Property information" %}</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a>
                  </li>
                  <li><a href="#">Settings 2</a>
                  </li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
<!--
                    {% with harvest.property.owner|is_person as is_person %}
                        {% if is_person == True %}
                            <p class="lead">{{ harvest.property.owner.person.name }}</p>
                            {% if harvest.property.owner.person.address %}
                                    {% trans "Personal address" %} : {{ harvest.property.owner.person.address }}.<br>
                            {% endif %}
                            {% trans "Phone" %} : {{ harvest.property.owner.person.phone }}<br>
                            {% trans "Email" %} : {{ harvest.property.owner.person.email }}<br>
                            {% trans "Preferred language" %} : {{ harvest.property.owner.person.language|default:" ? " }}<br>
                                {% if property.owner.person.comments %}
                                    {% trans "Additional comments" %} : <i>{{ property.owner.person.comments }}</i><br>
                                {% endif %}
                        {% elif is_person == False %}
                            <strong>{{ property.owner.organization.name }}</strong><br>
                            <strong>{% trans "Description" %} : </strong>{{ property.owner.organization.description }}<br>
                            <strong>{% trans "Contact person" %} : </strong>{{ property.owner.organization.contact_person }}<br>
                            <strong>{% trans "Address" %} : </strong>{{ property.owner.organization.address }}<br>
                            <strong>{% trans "Phone" %} : </strong>{{ property.owner.organization.phone }}<br>
                            <strong>{% trans "Language" %} : </strong>{{ property.owner.organization.contact.language|default:"" }}<br>
                            {% endif %}
                    {% endwith %}
-->
                  <table class="tile_info">
                    <tr>
                      <td>
                        <p><i class="fa fa-home"></i> {{ harvest.property.short_address }} </p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p><i class="fa fa-user"></i> {{ harvest.property.owner }} </p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p><i class="fa fa-phone"></i> {{ harvest.property.owner.person.phone|default:" -- " }} </p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p><i class="fa fa-envelope"></i> {{ harvest.property.owner.person.email|default:" -- "}} </p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p><i class="fa fa-comments-o "></i> {{ harvest.property.owner.person.language|default:" -- "}} </p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p><i class="fa fa-angle-double-right"></i><a href='{% url "harvest:property_detail" harvest.property.id %}'>{% trans "more info..." %}</a></p>
                      </td>
                    </tr>
                  </table>
              <div class="clearfix"></div>
          </div>
        </div>
      </div>

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>{% trans "Pickers" %}</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a href='{% url "harvest:participation_create" harvest.id %}'><i class="fa fa-plus"></i></a>
              </li>
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">

                <table class="table table-striped projects dt-responsive">
                    <tr>
                        <th>{% trans "Picker" %}</th>
                        <th>{% trans "Total people" %}</th>
                        <th>{% trans "Status" %}</th>
                        <th>{% trans "Requested on" %}</th>
                        <th>{% trans "Accepted on" %}</th>
                        <th>{% trans "First time" %}</th>
                        <th>{% trans "Comment from picker" %}</th>
                        <th>{% trans "Comment from pick leader" %}</th>
                        <th>{% trans "Action" %}</th>
                    </tr>
                    {% for r in requests %}
                    <tr>
                        <td>{{ r.picker }}
                        {% if r.picker.phone %}
                            <br>{{ r.picker.phone }}
                        {% endif %}
                        {% if r.picker.email %}
                            <br><a href="mailto:{{ r.picker.email }}">{{ r.picker.email }}</a>
                        {% endif %}
                        </td>
                        <td>{{ r.number_of_people }}</td>
                        <td>
                            {% if r.is_accepted == None %}
                                <i class="fa fa-question" style="color:orange"></i> {% trans "Pending" %}
                            {% elif r.is_accepted == False %}
                                <i class="fa fa-times" style="color:red"></i> {% trans "Refused" %}
                            {% elif r.is_accepted == True %}
                                <i class="fa fa-check" style="color:green"></i> {% trans "Accepted" %}
                            {% endif %}
                        </td>
                        <td>{{ r.creation_date }}</td>
                        <td>
                            {% if r.acceptation_date %}
                                {{ r.acceptation_date }}
                            {% else %}
                                <i class="fa fa-times" style="color:red"></i>
                            {% endif %}
                        </td>
                        <td>
                            {% if r.picker.participation_count == 1 and r.is_accepted == True or r.picker.participation_count == 0 %}
                                <i class="fa fa-check" style="color:green"></i> {% trans "Yes!" %}
                            {% else  %}
                                <i class="fa fa-times" style="color:red"></i> {% trans "No, " %}<strong> {{r.picker.participation_count}}</strong> accepted request(s).
                            {% endif %}
                        </td>
                        <td>{{ r.comment }}</td>
                        <td>{{ r.notes_from_pickleader }}</td>
                        <td>
                           <!-- Small modal -->
                           <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true" id="ManageRequestModal-{{r.id}}">
                             <div class="modal-dialog modal-sm">
                               <div class="modal-content">
         
                                 <div class="modal-header">
                                   <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                                   </button>
                                   <h4 class="modal-title" id="requestLabel">{% trans "Manage request" %}</h4>
                                 </div>
                                 <div class="modal-body">
                                   <form method="post" action='{% url "harvest:participation_update" r.id %}'>
                                       {% csrf_token %}
                                       {% bootstrap_form form_manage_request %}
                                       {% buttons %}
                                       <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
                                       {% endbuttons %}
                                   </form>
                                 </div>
                               </div>
                             </div>
                           </div>
                           <!-- /modals -->
                            <a data-toggle="modal" data-target="#ManageRequestModal-{{ r.id }}" class="btn btn-xs btn-warning">
                                <i class="fa fa-pencil"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>


          </div>
        </div>
      </div>

    <div class="row">
      <div class="col-md-4">
        <div class="x_panel">
          <div class="x_title">
            <h2>Fruit distribution</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <table class="" style="width:100%">
              <tr>
                <td>
                  <canvas class="canvasDoughnut" height="140" width="140" style="margin: 15px 10px 10px 0"></canvas>
                </td>
                <td>
                  <table>
                   {% for d in distribution %}
                    <tr>
                      <td class="col-md-6">
                        <p><i class="fa fa-square blue"></i> {{ d.recipient }} </p>
                      </td>
                      <td class="col-md-4"><p>{{ d.tree.fruit_name }}</p></td>
                      <td class="col-md-2"><p>{{ d.total_in_lb }}</p></td>
                    </tr>
                   {% endfor %}
                  </table>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    
            <div class="col-md-4">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Comments</h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a data-toggle="modal" data-target="#CommentModal"><i class="fa fa-plus"></i></a>
                    </li>
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                 <div class="dashboard-widget-content">
                    <ul class="list-unstyled timeline widget">
                     {% for comment in harvest.comment.all|order_by:"-created_date" %}    
                      <li>
                        <div class="block">
                          <div class="block_content">
                            <h2 class="title">
                                              <a>{{ comment.content|truncatewords:4 }}</a>
                                          </h2>
                            <div class="byline">
                              <span>{{ comment.created_date }}</span> {%trans "by" %} <a>{{ comment.author }}</a>
                            </div>
                            <p class="excerpt">{{ comment.content }}</p>
                          </div>
                        </div>
                      </li>
                  {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>

          <!-- Small modal -->
          <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true" id="CommentModal">
            <div class="modal-dialog modal-sm">
              <div class="modal-content">

                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                  </button>
                  <h4 class="modal-title" id="requestLabel">{% trans "New comment" %}</h4>
                </div>
                <div class="modal-body">
                   <form method="post" action="{% url 'harvest:comment_create' harvest.id %}">
                       {% csrf_token %}
                       {% bootstrap_form form_comment %}
                       {% buttons %}
                           <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
                       {% endbuttons %}
                   </form>
                </div>
              </div>
            </div>
          </div>
          <!-- /modals -->

{% endblock content %}

{% block javascripts %}
  {{ block.super}}
  <!-- Chart.js -->
  <script src="/static/vendors/Chart.js/dist/Chart.min.js"></script>
  <!-- gauge.js -->
  <script src="/static/vendors/gauge.js/dist/gauge.min.js"></script>
  <!-- Skycons -->
  <script src="/static/vendors/skycons/skycons.js"></script>
  <!-- Flot -->
  <script src="/static/vendors/Flot/jquery.flot.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.pie.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.time.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.stack.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.resize.js"></script>
  <!-- Flot plugins -->
  <script src="/static/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
  <script src="/static/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
  <script src="/static/vendors/flot.curvedlines/curvedLines.js"></script>
  <!-- DateJS -->
  <script src="/static/vendors/DateJS/build/date.js"></script>
  <!-- JQVMap -->
  <script src="/static/vendors/jqvmap/dist/jquery.vmap.js"></script>
  <script src="/static/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
  <script src="/static/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
{% endblock javascripts %}
