{% extends "base.html" %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            Basic Form Elements
        </div>
        <div class="panel-body">
            <div class="row">
                <form action="/new_equipment/" method="post" role="form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <span class="input-group-btn">
                        <input type="submit" class="btn btn-default" value="Submit">
                            <i class="fa fa-search"></i>
                        </input>
                    </span>
                </form>
            </div>
            <!-- /row -->
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
{% endblock %}