{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap_calendar %}

{% block content %}


<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Calendar</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row-fluid text-center">
                        <div class="span12">
                        {% bootstrap_controls '' %}
                        </div>
                    </div>
                </div>
            <div class="panel-body">

                <div class="row-fluid">
                    <div class="col-lg-12">
                        {% bootstrap_calendar '' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

