{% extends "base.html" %}
{% load bootstrap_tags %}

{% block content %}
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">New Harvest</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Enter data for your new harvest
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form action="/new_harvest/" method="post" role="form">
                                        {% csrf_token %}
                                        {{ form|as_bootstrap }}
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- /row -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /row -->
{% endblock %}